<section>

  <h3>About Myself</h3>

  <div class="face-lockup">
    <div class="face-img"></div>
    <div class="icon-pencil"></div>
    <div class="mouse"></div>
    <div class="browser"></div>
    <div class="icon-video"></div>
  </div>

  <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong> Saepe libero vel, quidem nisi adipisci magni! Autem assumenda nihil asperiores, dolor suscipit praesentium quia quaerat, rerum repellendus quisquam, pariatur modi nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem optio, debitis incidunt, eos vitae inventore possimus voluptatem eligendi perspiciatis minima, officia quibusdam. Et porro qui consequatur facilis rerum, illum enim.</p>

  <div class="skill-lockup">

  </div>

</section>