.section-work
  // this will stop the weird sidway srolling thing
  overflow-x: hidden
// making it 200% the work-belt div will go right off the page check part 11 at 5.30 min at dev tip videos for explanation
.work-belt
  width: 200%
  // background: pink
  position: relative
  left: 0%
  +transition(all, 800ms)

  // this is better than using changing the left value in javascript
  &.slided
    +transform(translate3d(-50%, 0, 0))


.thumb-wrap, .work-wrap
  // 50% of 200% is 100% of the document part 11 10 mins in for explanation
  width: 50%
  float: left

.thumb-container
  max-width: 960px
  margin: 0 auto
  +clearfix

  .thumb-unit
    display: block
    width: 25%
    // height: 150px
    float: left
    position: relative
    // lesson (if you want to scale the div in proportion to the width) this padding top is key to make the div scale down in proportion to the window when it's scale down. it controls the size
    padding-top: 16%
    // this is hide anything that overflow or is spill out of the div containing the thumb-unit
    // overflow: hidden
    cursor: pointer
    +perspective(300)
    background:
      // image: url(/assets/img/work/proj-1/thumb.jpg)
      size: cover
      // lesson this is to make the image center background image into the div
      position: center center
      repeat: no-repeat
    @if $animation != "bounceOut"
      overflow: hidden

    @media screen and (max-width: 760px)
      width: 50%
      padding-top: 26%

    .thumb-overlay
      // lesson also important to the have the position at 0px so the stuff in the div doesn't get push out. the 0px for all top, right, bottom, left will strecth the overlay to cover the whole thumb unit
      +position(absolute)
      +display(flex)
      +align-items(center)
      +justify-content(space-around)
      // height: 100%
      background: fade-out($accent, 0.1)
      text-align: center
      // +transform(matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))
      // // the opacity hides the overlay element
      // opacity: 0
      // +transition(opacity, 300ms, ease-in, 500ms)
      // this is the start of the animation
      @extend %animationstart_#{$animation}

    strong
      display: block
      padding: 0px 20px
      color: white
      font:
        weight: 300
        size: 24px
      text-transform: uppercase
      line-height: 1.2

    &:hover
      z-index: 2
      .thumb-overlay
        // +position(absolute, 0% 0px null 0px)
        // +transform(rotate(0deg))
        // end of the animation when you hover over the thumb-overlay
        @extend %#{$animation}
        // opacity: 1

.work-container
  max-width: 600px
  margin: 0px auto
  padding: 0 15px
  // +box-sizing(border-box)
  display: none
  position: relative

  h4
    color: $accent
    font-weight: 300
    text-transform: uppercase
    font-size: 28px
    line-height: 1.2
    margin: 0 0 20px

  img
    max-width: 100%
    margin-bottom: 20px

  .work-return
    +size(40px)
    cursor: pointer
    opacity: 0.5
    +position(absolute, -4px null null -60px)

    path
      fill: rgba(0,0,0,0.4)

    &:hover
      opacity: 1

@media (max-width: 740px)
  .work-container

    .work-return
      left: 0px

    h4
      margin-left: 60px
